[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fitPoly"]
	path = fitPoly
	url = https://github.com/cran/fitPoly
	shallow = true
	registered = true
[submodule "PolyHaplotyper"]
	path = PolyHaplotyper
	url = https://github.com/cran/PolyHaplotyper
	shallow = true
	registered = true
